page-home {
    
    .mensagemCliente {
  float: right;
 
	
}
    .fundoMensagemCliente {
  
        width:300px;
	height:100px;
	background-color:yellow;
	border-radius: 10px;
	
}
    .mensagemWatson{
        
  float: left;

    }

}
