<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
    
    <ion-list class="mensagemCliente">
        <ion-item *ngFor="let message of messagesUsuario">{{message}}</ion-item>
    </ion-list>
    <ion-list class="mensagemWatson">
        <ion-item *ngFor="let message of messagesWatson" >{{message}}</ion-item>
    </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>
      <ion-input [(ngModel)]="chatBox" placeholder="Digite a mensagem aqui..."></ion-input>
      
      <button (click)="send(chatBox)">Send</button>
    <ion-input>
       
        
    </ion-input>
</ion-toolbar>
</ion-footer>
